USE [master]
GO
/****** Object:  Database [CuaHangBanQuanAo]    Script Date: 12/25/2025 1:12:19 PM ******/
CREATE DATABASE [CuaHangBanQuanAo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CuaHangBanQuanAo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SHADOWNAM\MSSQL\DATA\CuaHangBanQuanAo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CuaHangBanQuanAo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SHADOWNAM\MSSQL\DATA\CuaHangBanQuanAo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangBanQuanAo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangBanQuanAo]
GO
/****** Object:  Rule [RULE_GiaTienLuonDuong]    Script Date: 12/25/2025 1:12:19 PM ******/
CREATE RULE [dbo].[RULE_GiaTienLuonDuong] 
AS
@Price > 0
GO
/****** Object:  Rule [RULE_ViTriNV]    Script Date: 12/25/2025 1:12:19 PM ******/
CREATE RULE [dbo].[RULE_ViTriNV] 
AS
@VITRI in ('Manager','Clerk','Inventory')
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[AccID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Pass] [varchar](256) NOT NULL,
	[Salt] [varchar](128) NOT NULL,
	[AccRole] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK__Account__91CBC39834CE7F97] PRIMARY KEY CLUSTERED 
(
	[AccID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[NameCategory] [varchar](50) NULL,
 CONSTRAINT [pk_CategoryID] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[AccID] [int] NULL,
	[FirstName] [varchar](20) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[PhoneNumber] [varchar](10) NULL,
	[AddressName] [varchar](200) NULL,
	[City] [varchar](50) NULL,
 CONSTRAINT [pk_CustomerID] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[AccID] [int] NOT NULL,
	[Firstname] [varchar](20) NULL,
	[Lastname] [varchar](50) NULL,
	[Position] [varchar](20) NULL,
	[PhoneNumber] [varchar](10) NULL,
	[Address] [varchar](200) NULL,
 CONSTRAINT [pk_Employee_EmployeeID] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemsID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ItemsName] [varchar](100) NOT NULL,
	[SellPrice] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[IsAvailable] [bit] NOT NULL,
	[Status] [int] NOT NULL,
	[CoverImage] [nvarchar](200) NULL,
 CONSTRAINT [pk_ItemsID] PRIMARY KEY CLUSTERED 
(
	[ItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrdersID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[Total] [decimal](10, 2) NULL,
	[EmployeeID] [int] NULL,
	[OrderDate] [date] NULL,
	[Discount] [decimal](5, 2) NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[Status] [nvarchar](50) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[DiscountCode] [nvarchar](50) NULL,
	[DiscountDescription] [nvarchar](200) NULL,
 CONSTRAINT [pk_OrderID] PRIMARY KEY CLUSTERED 
(
	[OrdersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersDetails]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetails](
	[OrdersDetailsID] [int] IDENTITY(1,1) NOT NULL,
	[OrdersID] [int] NULL,
	[ProductVariantID] [int] NULL,
	[Quantity] [int] NULL,
	[Price] [int] NULL,
	[Size] [varchar](10) NULL,
	[Color] [nvarchar](50) NULL,
 CONSTRAINT [pk_OrdersDetails] PRIMARY KEY CLUSTERED 
(
	[OrdersDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetToken]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Token] [varchar](256) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsUsed] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[ProductVariantsID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Size] [varchar](5) NOT NULL,
	[Color] [nvarchar](20) NOT NULL,
	[PriceModifier] [decimal](10, 2) NOT NULL,
	[StockQuantity] [int] NOT NULL,
	[Image] [nvarchar](100) NULL,
 CONSTRAINT [PK__ProductV__980BBDC77E00FBBE] PRIMARY KEY CLUSTERED 
(
	[ProductVariantsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[StorageID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NULL,
	[ProductVariantsID] [int] NULL,
	[Quantity] [int] NULL,
	[ImportCost] [int] NULL,
	[ImportDate] [date] NULL,
 CONSTRAINT [pk_Storage_Storage] PRIMARY KEY CLUSTERED 
(
	[StorageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [varchar](50) NULL,
	[PhoneNumber] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[AddressContact] [varchar](70) NULL,
 CONSTRAINT [pk_Supplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([AccID], [Username], [Email], [Pass], [Salt], [AccRole], [IsActive], [CreatedDate]) VALUES (1, N'ShadowNam', N'nhatnambtx6@gmail.com', N'F4MxSVSXDTdjJC2vxDwFpcEyK6Y3/Y0GcRtWtTA+WQ0=', N'ldtSXOCOAWj5HQeijQUNKs8MHoxSdbi808dwwzVk8po=', N'Customer', 1, CAST(N'2025-08-21T08:50:40.543' AS DateTime))
INSERT [dbo].[Account] ([AccID], [Username], [Email], [Pass], [Salt], [AccRole], [IsActive], [CreatedDate]) VALUES (2, N'Tangela', N'jonelamp81@gmail.com', N'BXD3K/FGoimt6wWC/W0wxRlyHYFZSfYHkDuUCst1DAk=', N'3iv83Wp5dvaXCF56PMzfIj7haKoh87Yi9S+Jj2kInM0=', N'Customer', 1, CAST(N'2025-08-21T08:58:11.867' AS DateTime))
INSERT [dbo].[Account] ([AccID], [Username], [Email], [Pass], [Salt], [AccRole], [IsActive], [CreatedDate]) VALUES (3, N'AdminNam', N'2200003539@nttu.edu.vn', N'XaMBtXahWL1Vl03IKfexVd1WKOxOeGiP7802jzp858w=', N'3FQd7gcXtSRZpEjKrAdN2cbqomMs9DC3VU8UwNwy6zk=', N'Admin', 1, CAST(N'2025-08-24T09:45:20.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [NameCategory]) VALUES (1, N'BST Vest Nam 2025')
INSERT [dbo].[Category] ([CategoryID], [NameCategory]) VALUES (2, N'Suit Luxury')
INSERT [dbo].[Category] ([CategoryID], [NameCategory]) VALUES (3, N'Quan Tay')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [AccID], [FirstName], [LastName], [PhoneNumber], [AddressName], [City]) VALUES (1, 1, N'Hoàng', N'Nam', N'0372365241', N'75/11 Phan Chu Trinh', N'Vung Tàu')
INSERT [dbo].[Customer] ([CustomerID], [AccID], [FirstName], [LastName], [PhoneNumber], [AddressName], [City]) VALUES (2, 4, N'Nguy?n', N'Anh', N'0931960117', N'337 tan hoa dong Street', N'Ho Chi Minh City')
INSERT [dbo].[Customer] ([CustomerID], [AccID], [FirstName], [LastName], [PhoneNumber], [AddressName], [City]) VALUES (3, 5, N'Anh', N'Nguyen', N'0931960117', N'33 Lê Du?n', N'Ho Chi Minh city')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeID], [AccID], [Firstname], [Lastname], [Position], [PhoneNumber], [Address]) VALUES (1, 1, N'Nam', N'Hoang', N'Manager', N'0372365211', N'1135 Huynh Tan Phat')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([ItemsID], [CategoryID], [ItemsName], [SellPrice], [CreatedDate], [IsAvailable], [Status], [CoverImage]) VALUES (1, 3, N'Ao Vest ke vuong', 10400000, CAST(N'2025-09-03T23:17:45.210' AS DateTime), 1, 1, NULL)
INSERT [dbo].[Items] ([ItemsID], [CategoryID], [ItemsName], [SellPrice], [CreatedDate], [IsAvailable], [Status], [CoverImage]) VALUES (2, 4, N'Ao So mi Ke tron', 2000000, CAST(N'2025-09-04T01:06:03.540' AS DateTime), 1, 1, NULL)
INSERT [dbo].[Items] ([ItemsID], [CategoryID], [ItemsName], [SellPrice], [CreatedDate], [IsAvailable], [Status], [CoverImage]) VALUES (3, 3, N'Quan Tay Trun', 4000000, CAST(N'2025-09-04T13:31:00.437' AS DateTime), 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrdersID], [CustomerID], [Total], [EmployeeID], [OrderDate], [Discount], [TotalAmount], [ShippingAddress], [PhoneNumber], [CustomerName], [Status], [PaymentMethod], [DiscountAmount], [DiscountCode], [DiscountDescription]) VALUES (1, NULL, CAST(5200000.00 AS Decimal(10, 2)), NULL, CAST(N'2025-11-12' AS Date), CAST(0.00 AS Decimal(5, 2)), CAST(5200000.00 AS Decimal(18, 2)), N'33 Lê Duẩn', N'0931960117', N'Anh Nguyen', N'Pending', N'COD', CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Orders] ([OrdersID], [CustomerID], [Total], [EmployeeID], [OrderDate], [Discount], [TotalAmount], [ShippingAddress], [PhoneNumber], [CustomerName], [Status], [PaymentMethod], [DiscountAmount], [DiscountCode], [DiscountDescription]) VALUES (2, NULL, CAST(104000.00 AS Decimal(10, 2)), NULL, CAST(N'2025-11-12' AS Date), CAST(0.00 AS Decimal(5, 2)), CAST(104000.00 AS Decimal(18, 2)), NULL, NULL, NULL, N'cancelled', N'PayPal', CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
INSERT [dbo].[Orders] ([OrdersID], [CustomerID], [Total], [EmployeeID], [OrderDate], [Discount], [TotalAmount], [ShippingAddress], [PhoneNumber], [CustomerName], [Status], [PaymentMethod], [DiscountAmount], [DiscountCode], [DiscountDescription]) VALUES (3, NULL, CAST(104000.00 AS Decimal(10, 2)), NULL, CAST(N'2025-11-12' AS Date), CAST(0.00 AS Decimal(5, 2)), CAST(104000.00 AS Decimal(18, 2)), NULL, NULL, NULL, N'pending', N'PayPal', CAST(0.00 AS Decimal(18, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrdersDetails] ON 

INSERT [dbo].[OrdersDetails] ([OrdersDetailsID], [OrdersID], [ProductVariantID], [Quantity], [Price], [Size], [Color]) VALUES (1, 1, 3, 2, 5200000, N'XXL', N'Trắng')
INSERT [dbo].[OrdersDetails] ([OrdersDetailsID], [OrdersID], [ProductVariantID], [Quantity], [Price], [Size], [Color]) VALUES (16, 16, 5, 1, 260000, N'M', N'Trắng')
INSERT [dbo].[OrdersDetails] ([OrdersDetailsID], [OrdersID], [ProductVariantID], [Quantity], [Price], [Size], [Color]) VALUES (18, 18, 7, 2, 390000, N'28', N'Đen')
SET IDENTITY_INSERT [dbo].[OrdersDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([ProductVariantsID], [ProductID], [Size], [Color], [PriceModifier], [StockQuantity], [Image]) VALUES (1, 1, N'36', N'Navy', CAST(0.00 AS Decimal(10, 2)), 0, N'3372ffe4-235c-4189-9f01-1a3e87546bd5_So_MI_CT24_dEN_Ke_VUoNG_CHiM_-_SNC015.jpg')
INSERT [dbo].[ProductVariants] ([ProductVariantsID], [ProductID], [Size], [Color], [PriceModifier], [StockQuantity], [Image]) VALUES (2, 2, N'XL', N'Trắng', CAST(0.00 AS Decimal(10, 2)), 0, N'13c23feb-5077-482c-a019-3b615b23a418_So_MI_CT24_XANH_SoC_CHiM_-_SNC019.jpg')
INSERT [dbo].[ProductVariants] ([ProductVariantsID], [ProductID], [Size], [Color], [PriceModifier], [StockQuantity], [Image]) VALUES (3, 2, N'XXL', N'Trắng', CAST(0.00 AS Decimal(10, 2)), 18, N'e774e4af-3c19-46b1-ae84-8ceaa5c58985_So_MI_NAM_NGaN_TAY_XANH_SoC_SaNG_-_SNC010.jpg')
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[Storage] ON 

INSERT [dbo].[Storage] ([StorageID], [SupplierID], [ProductVariantsID], [Quantity], [ImportCost], [ImportDate]) VALUES (3, 3, 3, 10, 3000000, CAST(N'2025-09-04' AS Date))
INSERT [dbo].[Storage] ([StorageID], [SupplierID], [ProductVariantsID], [Quantity], [ImportCost], [ImportDate]) VALUES (5, 3, 5, 9, 3000000, CAST(N'2025-09-04' AS Date))
INSERT [dbo].[Storage] ([StorageID], [SupplierID], [ProductVariantsID], [Quantity], [ImportCost], [ImportDate]) VALUES (7, 1, 7, 3, 3000000, CAST(N'2025-09-04' AS Date))
SET IDENTITY_INSERT [dbo].[Storage] OFF
GO
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [PhoneNumber], [Email], [AddressContact]) VALUES (1, N'BrandsGateway', N'0963009993', N'gatewaybrand@gmail', N'Fabriksvägen 9, 564 35 Bankeryd, Sweden')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [PhoneNumber], [Email], [AddressContact]) VALUES (2, N'Fashion Garments', N'02518877400', N'fashiongarments@gmail', N'Toa nha Sonadezi P Bien Hoa Ðong Nai Vi?t Nam')
INSERT [dbo].[Supplier] ([SupplierID], [SupplierName], [PhoneNumber], [Email], [AddressContact]) VALUES (3, N'Yoke Apparel Manufacturing', N'0294384398', N'yokeapparelmanufacturing@gmail', N'34JJ+84 Lien Chieu Da Nang Viet Nam')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__IsActiv__37A5467C]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [DF__Account__Created__398D8EEE]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[PasswordResetToken] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF__ProductVa__Price__245D67DE]  DEFAULT ((0)) FOR [PriceModifier]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF__ProductVa__Stock__25518C17]  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Storage] ADD  DEFAULT (getdate()) FOR [ImportDate]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Account] FOREIGN KEY([AccID])
REFERENCES [dbo].[Account] ([AccID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Account]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Account] FOREIGN KEY([AccID])
REFERENCES [dbo].[Account] ([AccID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Account]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [fk_Items_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [fk_Items_CategoryID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [fk_Orders_CustomerID] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [fk_Orders_CustomerID]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [fk_Orders_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employee] ([EmployeeID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [fk_Orders_EmployeeID]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [fk_ItemsID] FOREIGN KEY([ProductVariantID])
REFERENCES [dbo].[ProductVariants] ([ProductVariantsID])
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [fk_ItemsID]
GO
ALTER TABLE [dbo].[OrdersDetails]  WITH CHECK ADD  CONSTRAINT [fk_OrdersDetails_OrdersID] FOREIGN KEY([OrdersID])
REFERENCES [dbo].[Orders] ([OrdersID])
GO
ALTER TABLE [dbo].[OrdersDetails] CHECK CONSTRAINT [fk_OrdersDetails_OrdersID]
GO
ALTER TABLE [dbo].[PasswordResetToken]  WITH CHECK ADD  CONSTRAINT [FK_RefreshToken_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([AccID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PasswordResetToken] CHECK CONSTRAINT [FK_RefreshToken_Account]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK__ProductVa__Produ__236943A5] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Items] ([ItemsID])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK__ProductVa__Produ__236943A5]
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD FOREIGN KEY([SupplierID])
REFERENCES [dbo].[Supplier] ([SupplierID])
GO
ALTER TABLE [dbo].[Storage]  WITH CHECK ADD  CONSTRAINT [fk_Storage_ItemsID] FOREIGN KEY([ProductVariantsID])
REFERENCES [dbo].[ProductVariants] ([ProductVariantsID])
GO
ALTER TABLE [dbo].[Storage] CHECK CONSTRAINT [fk_Storage_ItemsID]
GO
/****** Object:  StoredProcedure [dbo].[sp_DoanhThu_TheoThang]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_DoanhThu_TheoThang]
    @Thang INT,
    @Nam INT
AS
BEGIN
    SELECT 
        MONTH(OrderDate) AS Thang,
        YEAR(OrderDate) AS Nam,
        SUM(TotalAmount) AS TongDoanhThu
    FROM Orders
    WHERE MONTH(OrderDate) = @Thang
      AND YEAR(OrderDate) = @Nam
      AND Status = 'Paid'
    GROUP BY MONTH(OrderDate), YEAR(OrderDate)
END
--SP2
GO
/****** Object:  StoredProcedure [dbo].[sp_SanPham_SapHetHang]    Script Date: 12/25/2025 1:12:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SanPham_SapHetHang]
AS
BEGIN
    DECLARE cur CURSOR FOR
    SELECT ProductVariantsID, StockQuantity
    FROM ProductVariants
    WHERE StockQuantity < 5

    DECLARE @ID INT, @Qty INT
    OPEN cur
    FETCH NEXT FROM cur INTO @ID, @Qty

    WHILE @@FETCH_STATUS = 0
    BEGIN
        PRINT N'Sản phẩm ID: ' + CAST(@ID AS NVARCHAR) +
              N' - Tồn kho: ' + CAST(@Qty AS NVARCHAR)
        FETCH NEXT FROM cur INTO @ID, @Qty
    END

    CLOSE cur
    DEALLOCATE cur
END
--Tối ưu truy vấn 
--Truy vấn cơ bản
GO
USE [master]
GO
